ul {
    font-size: 15px;
    padding-bottom: 20px;
}

.xmas { 
    width: 250px;
    height: 100px;
}

.thankuLetterDiv{
    border: 2px  rgb(204, 0, 0) solid;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 800px;

    .thankuText{
        font-size: 20px;
        max-width: 700px;
        padding: 20px;
        p{
            font-size: 20px;
        }
    }
    
}