
nav {
    margin:0;
    min-width: 100vw;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(204, 0, 0);
    font-size: 20px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
        
    h1{
        font-size: 15px;
        letter-spacing: 0.2em;
        
    }
    .menu{
        color: white;
        a{
            padding: 5px;
            font-size: 12px;
        }
        i{
            font-size: 30px;
        }
    }
}

@media only screen and (min-width: 600px){
    nav{
        align-items: center;
        h1{
        font-size: 30px;
    
        }
        
    .menu{
        a{
            font-size: 20px;
            padding: 10px;
        }
    }
        
 }




}
