<app-nav pageTitle="MY GIFTS"></app-nav>
<body >
  <div class="presentForm">
    <h2>Welcome {{user?.email}} to your gift list!</h2>
    <p>What did you get for christmas? Tell us and we can help you send thank you letters!</p>

    <form #presentListForm = "ngForm" (ngSubmit)="upload(presentListForm.value); presentListForm.reset();">
      <label>Their name</label>
      <input
      name="theirName"
      ngModel
      required
      type = "text"
      placeholder="Who was it from?"
      >
      
      <label>Who are they ?</label>
      <ul>
        <li><input name="relationship" value="closeFamily" ngModel required type="radio">Close family</li>
        <li><input name="relationship" value="family"ngModel required type="radio">Family</li>
        <li><input name="relationship" value="friends"ngModel required type="radio">Friends</li>
        <li><input name="relationship" value="other"ngModel required type="radio">Other</li>
      </ul>
      
      <label>Upload a picture of the prezzie</label>
      <input 
      name="picture"
      ngModel
      type="file">
      
      <label>What was it?</label>
      <input
      name="description"
      ngModel
      required
      type="text"
      placeholder="Describe your present"
      >
      
      <label>Rate it out of 5</label>
      <rating  class="starRating" name="rating" [(ngModel)]="rate" [max]="max"></rating>
      
      <label>Want to leave a special message on the thankyou letter? write it here.</label>
      <textarea
      name="message"
      ngModel
      type="number"
      cols="2"
      rows="5"
      ></textarea>
      
      <button type="submit" [disabled]="!presentListForm.form.valid">Submit</button>
      
    </form>
  </div>
    
        <div class="tree" ></div>
        <div class="presentLayout">
          <div class="prezzies" *ngFor="let present of presentList | async">
              <div class="presentInfo">

                  <h4>{{present.date.toDate() | date : 'd/M/yy' }}</h4>
                  <p>Name : {{present.theirName}}</p>
                  <p>Relationship: {{present.relationship}}</p>
                  <p>{{present.picture}}</p>    
                  <p>The present: {{present.description}}</p>
                  <p>{{present.rating}} <i ria-hidden="true" class="fas fa-star"></i>'s</p>

                  <p><input type="checkbox" (change)="update(present)" [(ngModel)]="present.letterSent"> Letter sent?</p>
                  <button (click)="delete(present)">X</button>
              </div>
            
            </div>
    </div>
  
</body>
