
body { 
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.prezzies{
    background-image: url("../../assets/present.gif");
    background-repeat: no-repeat;
    background-size: contain;
    width: 380px;
    height: 500px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    .presentInfo{
        width: 300px;
        padding-top: 120px;
        padding-left: 30px;
    }
    h4, p {
        font-size: 18px;

    }
    
}

.tree{   
    width: 80px;
    position: relative;
    background-image: url("../../assets/christmasTree.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

form{
    border: 2px solid transparent;
    background-color: rgba(250, 250, 250, 0.9);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    label{
        padding: 5px;
        display: inline-block;
    }
    input{
        padding: 10px;
    }
}

.starRating{
    font-size: 30px;
    color: gold;
}

@media only screen and (min-width: 768px){

    form{ 
        width: 500px;
    }

    .tree{
        height: 100px;
        width: 80px;
    }
    .presentLayout{
        display: flex;
        flex-wrap: wrap;
    }
    
    body {
        flex-direction: row;        
    }

}