
body { 
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.prezzies{
    border: 1px solid rgb(204, 0, 0);
    padding: 10px;
    border-radius: 10px;
    h4, p {
        font-size: 12px;

    }
    
}


.tree{   
    width: 80px;
    position: relative;
    background-image: url("../../assets/christmasTree.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

form{
    border: 2px solid transparent;
    background-color: rgba(250, 250, 250, 0.9);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    label{
        padding: 5px;
        display: inline-block;
    }
}

@media only screen and (min-width: 600px){
    body{
        flex-direction: row;
    }

    form{
         flex: 1;
    }
    .tree{
        height: 100px;
        width: 80px;
    }
    .presentLayout{
        display: flex;
        flex-wrap: wrap;
        flex:2;

        .prezzies {
            border: none;
            background-image: url("../../assets/present.gif");
            background-repeat: no-repeat;
            background-size: contain;
            width: 400px;

            .presentInfo{
                padding-top: 100px;
                padding-left: 50px;
                h4, p {
                    font-size: 17px;
            
                }
                
            }
    }
    }
    
    body {
        flex-direction: row;
        justify-content: left;
        
    }

}