<body class="bow">
  <img src="/assets/bow.jpg">
  <div class="outOfAppForm">
    <h1>Register here!</h1>
      <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
        <label>Name</label>
        <input
        name="name"
        ngModel
        type="text"
        required
        minlength="3"
        placeholder="Enter your name">
    
        <label>Email</label>
        <input
        name="email"
        ngModel
        email
        required
        placeholder="Enter your email">
    
        <label>Password</label>
        <input
        name="password"
        type="password"
        ngModel
        password
        required
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
        placeholder="Create a password">
  
  
        <button type= "submit" > Register </button>
        <p>Already have an account ? <a routerLink="/login">Login Here</a></p>
    
      </form>
  </div>
  <!-- [disabled]="!registerForm.form.valid" -->

</body>
